.editorContainer{
    display: grid;
    grid-template-areas: 
    "left editor right"
    "left buttons right";
    grid-template-columns: 1fr minmax(600px, 60%) 1fr;
    align-items: center;
    grid-template-rows: minmax(400px, 1fr) 150px;
    padding-top: 1rem;
}

.editorPaper{
    grid-area: editor;
    padding: 1rem;
}

.leftSpace{
    grid-area: left;
}

.rightSpace{
    grid-area: right;
}