.root {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'mainview'
}

.mainview{
  grid-area: mainview;
  grid-template-columns: 1fr minmax(600px, 74rem) 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
}

.header{
  grid-area: header
}